<!doctype html>
<html lang="ko">
	<head>
		<meta charset="UTF-8">
		<title>OUR Team</title>
		
	
	<style>	/*CSS태그*/
		body {text-align: center;
}
	.slide_time{  
		position:absolute;  z-index:1004;  width: 70px;  height: 70px;  right: -85px;  top: 15px;  transform: skewX(10deg);
	}
	
	.slider_container:after{	
		content:"";	position:absolute;	height:500px;	left:0;	right:0;	background-color:#000;	top:0;	z-index:-100;
	}
	.slide_time #inner{ 
		stroke-dasharray: 200; stroke-dashoffset: 0; stroke: #fff; opacity: 0.4;
	}
	.slide_time #outer{  
		stroke: #fff;  opacity: 0.2;
	}
	.slide_time svg{  
		stroke-width: 2px;  width: 100%;  height: 100%;  transform: rotate(-90deg);
	}
	.slide_time .pause:after{  
		content:"\e84e";
	}
	.slide_time .play:after{  
		content:"\e84d";  margin-left: 3px;
	}
	.slide_time a{  
		position: absolute;  top: 0;  right: 0;  bottom: 0;  left: 0;  text-align: center;  line-height: 70px;
	}
	.slide_time a:after{
		font-family:lgsports_icon;color: #fff;font-size: 16px;
	}
	#slider {  
		width: 976px;  height: 500px;  margin: 0 auto;  transform: skew(-10deg,0);  background-color: #555;  position: relative;
	}
	.slider_wrap {  
		position: relative;  height: 500px;
	}
	.slider_wrap .slider_list {  
		position: absolute;  height: 600px;  box-sizing: border-box;  overflow: hidden;  transition: transform 0.5s,top 0.5s;
	}
	.slider_wrap .slider_list .txt_wrap{  
		position:absolute;  top: 140px;  left: 100px;  text-align: left;  width: 370px;  opacity:0;  transform: translateX(-100px);  transition: all 1.5s;  z-index: 100;
	}
	.slider_wrap .slider_list .txt_wrap.right {  
		left: auto;  text-align:right;  right:100px;  transform: translateX(-100px);
	}
	.slider_wrap .slider_list.on .txt_wrap{  
		opacity: 1;  transform: translateX(0px);
	}
	.slider_wrap .slider_list .txt_wrap .group{  
		margin-bottom: 15px;  color: #ddd;  border-bottom: 1px solid #777;  display: inline-block;
	}
	.slider_wrap .slider_list.on .txt_wrap .group{}.slider_wrap .slider_list .txt_wrap .title{  
		font-size: 22px;  color:#fff;  line-height: 40px;  /* margin-bottom: 10px; */  max-height: 300px;  overflow: hidden;  word-break: keep-all;  text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);  text-overflow: ellipsis;  -webkit-line-clamp: 3;  display: -webkit-box;  -webkit-box-orient: vertical;
	}
	.slider_wrap .slider_list.on .txt_wrap h2.linkout + .link_btn:after {	
		content:"\e851";	font-family:lgsports_icon;	font-size:12px;	color:#fff;	margin-left:6px;
	}
	.slider_wrap .slider_list .txt_wrap .link_btn{  
		color: #fff;  background-color: #a50034;  padding: 6px 13px;  z-index: 22;  font-size: 13px;  position: absolute;  left: 0;  margin-top: 10px;
	}
	.slider_wrap .slider_list .txt_wrap .link_btn:hover {	 
		background-color: #a10034;
	}
	.slider_wrap .slider_list .txt_wrap.right .link_btn{  
		left:auto;  right:0;
	}
	.slider_wrap .slider_list:before {  
		content: "";  width: 100%;  position: absolute;  height: 100%;  background-color: #777;  z-index: 9;  opacity: 0.85;  transition: all 0.5s;
	}
	.slider_wrap .slider_list:after{   
		content: "";   width: 100%;   position: absolute;   height: 100%;   background: linear-gradient(-90deg, rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);   z-index: 10;
	}
	.slider_wrap .slider_list.on:before { 
		content: "";  width: 100%;  position: absolute;  height: 100%;  background: none;
	}
	.slider_wrap .slider_list img {  
		position: absolute;  left: -5%;  right: -5%;  width: 70%; height:90%; margin: 0 auto;  display: block;  transform: skew(10deg,0);  text-align: center;
	}
	.slider_wrap .slider_list.on {  
		z-index: 100;  background-color: #000;
	}
	.slider_wrap + .move_btn {  
		position: absolute;  z-index: 1005;  top: 40%;  left: 0;  right: 0;  height: 40px;  transform: skew(10deg);  width: 100%;
	}
	@media screen and (max-width: 1300px) {    
		.move_btn #prev_btn{        
			left: -60px;    
		}    
		.move_btn #next_btn{        
			right: -60px;    
		}
	}
	.move_btn a:before{  
		color:#aaa;  font-size:40px
	}
	.move_btn a:hover:before {	
		color:#fff;
	}
	#next_btn {  
		position: absolute;  display: inline-block;  z-index: 1000;  right: -170px;  text-indent: 0;
	}
	#next_btn:before{  
		content:"\e80d";  font-family:lgsports_icon;
	}
	#prev_btn {  
		display: inline-block;  position: absolute;  left: -170px;  text-indent: 0;
	}
	#prev_btn:before{ 
		content:"\e80e";  font-family:lgsports_icon;
	}
	.slider_container {  
		position: relative;  width: 100%;  overflow: hidden;  height: 800px;  top: 0;  z-index: 2;  background: linear-gradient(to bottom, rgba(107,107,107,1) 0%, rgba(255,255,255,0.33) 67%, rgba(255,255,255,0) 100%);
	}
	.slider_bg {  
		height: 490px;  width: 100%;  background: #000;  position: absolute;  z-index: -1000;
	}
	/*이미지 슬라이드*/
		
		
		
		
/*회원가입 로그인 a태그들*/
	.wrap_tags{		  
    width: 2000px;
    height: 40px;
    background-color: black;
    position: relative;
    color: #888;
}
	.wrap_tags .login{	/*밑에 join도 그렇고 중괄호를 띄어쓰기 하니까 먹질 않네.  왜그런진 모름.*/
	color: #888;
    font-size: 15px;
}
	.wrap_tags .join{
	color: #888;
    font-size: 15px;
}
	.wrap_tags .Search_MLB_Player_Page{
	color: #888;
    font-size: 15px;
}
	.wrap_tags .keijiban{
	color: #888;
    font-size: 15px;
}
	.wrap_tags .login:hover{color:red;}
	.wrap_tags .join:hover{color:red;}
		
		
		
		/*탭 부분*/
		.wrap_tab_classify	{
			list-style-type:none;	/*li태그 쓰면 나오는 옆에 땡떙이 표시 없애기*/
			/*float:left;	가로 정렬*/
			display:inline;	/*가로 정렬*/
			margin-left:20px;	/*사이에 간격 벌려주기*/
		}
	

		
		
		
		/*
		body,ul,h2,p{	초기화
			margin:0;
			padding:0;
		}
		*/
		body{
			background-color:#111;
			color:#999;
		}
		.wrapper	{
			display:flex;	/*팀이 전체의 가운데 정렬. 안에있는 팀이 컨턴츠크기만큼 줄어듦*/
			height:70vh;	/*wrapper안에 담긴 내용물의 높이*/
			justify-content:center;
			align-items:center;/*세로의 중간으로 옴*/
		}
		.team{
			/*background-color:aqua;	*/
			display:flex;	/*숫자 12345가 쉽게 가로로 배치*/
			justify-content:center;	/*모든 이미지가 다 가운데로*/
			/*align-items:center;	마우스오버했을때 애니메이션으로 울렁울렁하니까 그효과 없앰*/
		}
		.team-item{
			flex-basis:	100px;	/*이미지가 원래 갖고있는 크기가 다 다른데 그걸 조절*/
			flex-shrink:0;	
			margin:0 10px;	/*이미지들 사이를 조금 띄움. 좌우10px*/
			transition:all .4s;	/*마우스오버 했을때의 애니메이션효과*/
			list-style-type:none;	/*list-style-type없애기. li쓰면 옆에 땡땡이 표시 뜨는거 없애기*/
		}
		.team-item:hover{	/*마우스오버했을때*/
			flex-basis:250px;	/*마우스오버했을때 크게 해주는거*/
			margin: 0 100px;	/*마우스오버 했을때 다른 이미지는 밀리게 하는거*/
		
		}
		
		
		.team-item img{
			width:100%;	/*부모태그인 team-item크기만큼 꽉 채움.*/
		}
		
		.profile{
			background-color:#222;
			position:relative;
			overflow:hidden;
		}
		.profile:before{	/*이미지 안에 설명부분 그라데이션효과*/
			content:' ';
			
			
		
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+99&0+0,0.4+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 99%, rgba(0,0,0,0.4) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 99%,rgba(0,0,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 99%,rgba(0,0,0,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */

			
			
			
			
			position:absolute;
			left:0;
			right:0;
			bottom:0;
			height:200px;
		}
		
		
		.profile-contents{
			position:absolute;/*공간을 차지하지 않고 위로 딱 뜨게.전체페이지기준으로 left0 bottom0으로 고정값이 됨.*/
			left:0;
			bottom:0;
			padding:10px;
			color:black;
		}
		.profile-contents h2{
			font-size:20px;
		}
		.profile-contents h2 span{
			display:block;
			font-size:12px;
		}
		.profile-contents p{
			color:white;
			font-size:10px;
			min-width:140px;
			max-height:0;	/*처음에 이미지에 있는 텍스트는 안보이게 하는거*/
			overflow:hidden;	/*이거까지.  마우스오버할때도 안보이니까.*/
		}
		.team-item:hover .profile-contents p	{
			max-height:220px;/*텍스트 마우스오버 할때 보이게 된다.*/
		}
	</style>
	</head>
	
	
	<body>
		
		
		
		<div class="body_wrap main">
		<div class="spinner_wrap"></div>
		<div class="slider_container">
			<div id="slider">
				<div class="slide_time">		<!--슬라이드 시간 표시-->
					<svg>
						<circle id="outer" cx="35" cy="35" r="18" fill="none" />	이 코드 쓰기		
					    <circle id="inner" cx="35" cy="35" r="18" fill="none" />
					</svg>
					<a id="autoPlay" href="javascript:void(0);" class="pause"></a>
				</div>
				<ul class="slider_wrap">
					
						
							
								<!-- 트윈스포토 -->
								<li class="slider_list" onclick="javascript:openStoryPhotoDetail('2841');">::before
									<img src="<%= asset_path 'baseball1.jpg' %>" width="100px;" height="100px;">
									<div class="txt_wrap right">
										<p class="group">Twins Photo</p>
										<h2 class="title">終わるまで終わったわけではない。</h2>
									</div>
									::after
								</li>
							
							
								<!-- 트윈스포토 -->
								<li class="slider_list" onclick="javascript:openStoryPhotoDetail('2840');">::before
									<img src="<%= asset_path 'baseball2.jpg' %>">
									<div class="txt_wrap right">
										<p class="group">Twins Photo</p>
										<h2 class="title">勝てば少し学ぶことができ、勝てばすべてを学ぶことができる。</h2>
									</div>
									::after
								</li>
						
								<!-- 트윈스포토 -->
								<li class="slider_list" onclick="javascript:openStoryPhotoDetail('2835');">::before
									<img src="<%= asset_path 'baseball3.jpg' %>">
									<div class="txt_wrap">
										<p class="group">Twins Photo</p>
										<h2 class="title">小学生の頃20mくらい先を歩いてた女の子の
											後頭部に柿を命中させてプロに
											行けると確信した</h2>
									</div>
									::after
								</li>
							
							
								<!-- 트윈스포토 -->
								<li class="slider_list" onclick="javascript:openStoryPhotoDetail('2834');">::before
									<img src="<%= asset_path 'baseball4.jpg' %>">
									<div class="txt_wrap right">
										<p class="group">Twins Photo</p>
										<h2 class="title">後の7人が助けようとするのに
											その機会をどうして捨てるの</h2>
									</div>
									::after
								</li>	
							
								<!-- 트윈스포토 -->
								<li class="slider_list" onclick="javascript:openStoryPhotoDetail('2833');">::before
									<img src="<%= asset_path 'baseball5.jpg' %>">
									<div class="txt_wrap">
										<p class="group">Twins Photo</p>
										<h2 class="title">だから私が野球を愛さざるを得ない。</h2>
									</div>
									::after
								</li>
							
					
				</ul>
				<div class="move_btn">
					<a href="#" id="prev_btn"></a>
						
					<a href="#" id="next_btn"></a>
				</div>
			</div>
		</div><!--이미지 슬라이드-->
			
			
			<div class="wrap_tags" style="float:right;">
				<%=link_to "ログインに行こう", login_path, class: "login" %>
				<%=link_to "会員加入に行こう", join_path, class: "join", target: "_blank" %>
				<%=link_to "Search_MLB_Player_Page", mlb_player_search_api_mlb_player_search_api_path, class: "Search_MLB_Player_Page" %>
				<%=link_to "掲示板", index_path, class: "keijiban" %>
			</div>
	<% if session[:userid] %> 
<li class="item"><%= @user.find_by(id: session[:userid]).teamname %>님 접속중..</li> 
<% end %>


			
			
			
			
			<div class"wrap_tab"><!--탭-->
				<ul>
					<li class="wrap_tab_classify">全て<img src="<%= asset_path 'button_tag1.png' %>" style="width:100px; height:100px;"></li>
					<li class="wrap_tab_classify">ピッチャー<img src="<%= asset_path 'button_tag2.png' %>" style="width:100px; height:100px;"></li>
					<li class="wrap_tab_classify">キャッチャー<img src="<%= asset_path 'button_tag3.png' %>" style="width:100px; height:100px;"></li>
					<li class="wrap_tab_classify">インフィルダー<img src="<%= asset_path 'button_tag4.png' %>" style="width:100px; height:100px;"></li>
					<li class="wrap_tab_classify">フィールダー<img src="<%= asset_path 'button_tag5.png' %>" style="width:100px; height:100px;"></li>
				</ul>
			</div>
			
			
			
			
			
			
			
			
		<div class="wrapper">	<!--전체를 감싸는-->
			<ul class="team">	<!--각자 팀원 소개-->
				<li class="team-item">
					<div class="profile">	<!--카드 형태의 디자인-->
						<img src="<%= asset_path 'parkchanho61.jpg' %>">
							<div class="profile-contents">
								<h2>パクチャンホ<span>ピッチャー</span></h2><!--투수가 밑으로가려고 span으로 감쌈-->
								<p>選手説明</p>
							</div>
					</div>
				</li>
				
				<li class="team-item">
					<div class="profile">	<!--카드 형태의 디자인-->
						<img src="<%= asset_path 'matuzaka18.jpg' %>">
							<div class="profile-contents">
								<h2>松坂大輔<span>ピッチャー</span></h2><!--투수가 밑으로가려고 span으로 감쌈-->
								<p>選手説明</p>
							</div>
					</div>
				</li>
				
				<li class="team-item">
						<div class="profile">	<!--카드 형태의 디자인-->
							<img src="<%= asset_path 'jungsoobin31.jpg' %>">
								<div class="profile-contents">
									<h2>チョンスビン<span>外野手</span></h2><!--투수가 밑으로가려고 span으로 감쌈-->
									<p>選手説明</p>
								</div>
						</div>
				</li>
				
				<li class="team-item">
					<div class="profile">	<!--카드 형태의 디자인-->
						<img src="<%= asset_path 'leeyongkyu.jpg' %>">
								<div class="profile-contents">
									<h2>イヨンギュ<span>外野手</span></h2><!--투수가 밑으로가려고 span으로 감쌈-->
									<p>選手説明</p>
								</div>
					</div>
				</li>
				
				<li class="team-item">
					<div class="profile">	<!--카드 형태의 디자인-->
						<img src="<%= asset_path 'ohjaewon.jpg' %>">
								<div class="profile-contents">
									<h2>オジェウォン<span>内野手</span></h2><!--투수가 밑으로가려고 span으로 감쌈-->
									<p>選手説明</p>
								</div>
					</div>
				</li>
			</ul>
		</div>
	</body>
</html>
	
	
	<!--이미지 슬라이드-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

$(document).ready(function() {
	init_page();
});
$(window).resize(function(setting) {
	// init_page();
});
function init_page() {
	var setting = {
		current_inx : 0,
		total_inx : $('.slider_list').length,
		width : $('#slider').outerWidth(),
		height : $('#slider').outerHeight()
	};
	slider(setting);

}
function slider(init) {
	var ele = $("#inner");
	var delay;
	$('#slider').outerWidth(init.width);
	$('.slider_wrap').outerWidth(init.width);
	$('.slider_list').outerWidth(init.width);
	$('.slider_list').eq(0).addClass('on');
	for (var i = 0; i < init.total_inx; i++) {
		// console.log(init.current_inx);
		$('.slider_list').eq(i).css({
			"left" : i * init.width,
			'width' : init.width,
			"height" : init.height,
			"transform":"scale(1)"
		});

	}
	
	if ($('.slider_list').length < 2) {

	}else if($('.slider_list').length < 3) {
		$('#prev_btn').hide();
	}else{
		$('#next_btn').show();
	$('.slider_list').eq(init.total_inx - 1).css({
		"left" : -1 * init.width
	});
	if ($('.slider_list').length < 3) {
		$('.slider_list').eq(init.total_inx - 1).css({
			"left" : 1 * init.width
		});
	}
	}
	$('.slider_list').eq(init.current_inx).css({
		'width' : init.width,
		"height" : init.height,
		"opacity" : "1",
		"transform":"scale(1.2)"
	});

	function next() {
		$('.slider_list').finish();
		init.current_inx = init.current_inx + 1;
		if (init.current_inx > init.total_inx - 1) {
			init.current_inx = 0;
		}
		$('.slider_list').removeClass('on');
		$('.slider_list').eq(init.current_inx).addClass('on');
		for (var i = 0; i < init.total_inx; i++) {

			var p = $('.slider_list').eq(i);
			var position = p.css("left");
			position = position.replace("px", "");
			position = parseInt(position);
			if (position < -init.width * (init.total_inx - 3)) {
				$('.slider_list').eq(i).css({
					"z-index" : "-10",
					"left" : init.width * 2,
					'width' : init.width,
					"height" : init.height,
					"margin-left" : "0px",
					"transform":"scale(1)"
				}).animate({
					"left" : init.width
				});
			}

			else {
				$('.slider_list').eq(i).css({
					"z-index" : "-10",
					"transform":"scale(1)"
				});
				$('.slider_list').eq(i).stop().animate({
					"left" : position - init.width,
					'width' : init.width,
					"height" : init.height

				}, function() {
					$('.slider_list').eq(init.current_inx).css({
						"z-index" : "10",
						"transform":"scale(1.2)"
					});
				});
			}

		}
	}
	function prev() {
		$('.slider_list').finish();
		init.current_inx = init.current_inx - 1;
		if (init.current_inx < 0) {
			init.current_inx = init.total_inx - 1;
		}
		$('.slider_list').removeClass('on');
		$('.slider_list').eq(init.current_inx).addClass('on');
		for (var i = 0; i < init.total_inx; i++) {
			// console.log(init.current_inx);
			var p = $('.slider_list').eq(i);
			var position = p.css("left");
			position = position.replace("px", "");
			position = parseInt(position);
			if (position > init.width * (init.total_inx - 3)) {
				console.log(i);
				$('.slider_list').eq(i).css({
					"z-index" : "-10",
					"left" : -init.width * 2,
					'width' : init.width,
					"height" : init.height,
					"transform":"scale(1)"
				}).animate({
					"left" : -init.width,
				});
			} else {
				$('.slider_list').eq(i).css({
					"z-index" : "-10",
					"transform":"scale(1)"
				});
				$('.slider_list').eq(i).stop().animate({
					"left" : position + init.width,
					'width' : init.width,
					"height" : init.height,
					"margin-left" : "0px"
				}, function() {
					$('.slider_list').eq(init.current_inx).css({
						"z-index" : "10",
						"transform":"scale(1.2)"
					});
				});
			}
		}
	}
	//auto slide
	var id;
	function animate(opts) {
		  var start = new Date
		  id = setInterval(function() {
		    var timePassed = new Date - start
		    var progress = timePassed / opts.duration

		    if (progress > 1){

		    	progress = 1
		    }
		    var delta = opts.delta(progress)
		    opts.step(delta)

		    if (progress == 1) {
		    	clearInterval(id);

		    	next();
		    	move(ele, circ, 7000);

		    }

		  }, opts.delay || 10);



		}
		function circ(progress) {
		  return progress;
		}

		function move(element, delta, duration) {
		$('.slide_time').show();
		  var to = -120
		  animate({
		    element:element,
		    delay: 10,
		    duration: duration || 3000,
		    delta: delta,
		    step: function(delta) {
		      $(element).css({
		        "stroke-dashoffset":to*delta

		      });

		    }
		  })
		}
		if ($('.slider_list').length < 2) {
			$('.slide_time').hide();
			$('.move_btn').hide();
		}else{
			$('.slide_time').show();
			$('.move_btn').show();
			move(ele, circ, 7000);
		}
	  $('#next_btn').click(function() {
			clearInterval(id);
			$('#autoPlay').removeClass('pause');
			$('#autoPlay').addClass('play');
			$(ele).css({
		        "stroke-dashoffset":0
		     });
			next();

		});
		$('#prev_btn').click(function() {
			clearInterval(id);
			$('#autoPlay').removeClass('pause');
			$('#autoPlay').addClass('play');
			$(ele).css({
		        "stroke-dashoffset":0
		     });
			prev();
		});

	$('#autoPlay').click(function(){
		if($(this).hasClass('pause')){
			$(ele).css({
		        "stroke-dashoffset":0
		     });
			$(this).removeClass('pause');
			$(this).addClass('play');
			clearInterval(id);

		}
		else{
			$(this).removeClass('play');
			$(this).addClass('pause');
			move(ele, circ, 7000);

		}
	});

}

</script>
